# Rust build
/target/
Cargo.lock

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
*.swn
*.bak
*.tmp

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Windows
Thumbs.db
Desktop.ini

# Linux
*~ 